* {
  margin: 0;
  padding: 0; }

/*Margenes*/
body {
  margin: 5px; }

section {
  margin: 10px; }

/*Fonts*/
h1 {
  color: #ed3b89;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bolder;
  font-size: large; }

h2 {
  color: #ed3b89;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: medium; }

hr {
  color: #ed3b89;
  margin-bottom: 20px; }

p {
  color: grey;
  font-style: normal;
  font-weight: normal;
  font-size: medium;
  font-family: 'Noto Sans JP', sans-serif;
  text-transform: none;
  line-height: normal;
  text-decoration: none;
  letter-spacing: normal; }

ol {
  color: #ed3b89;
  font-family: 'Noto Sans JP', sans-serif;
  list-style-type: none;
  text-decoration: none; }

ul {
  color: #ed3b89;
  font-family: 'Noto Sans JP', sans-serif;
  list-style-type: none;
  text-decoration: none; }

a {
  text-decoration: none; }

/*Table*/
table {
  font-family: 'Noto Sans JP', sans-serif; }

.tableTitles {
  background-color: #ed3b89;
  color: white;
  text-align: center;
  font-weight: bolder; }

th {
  background-color: #ed3b89;
  color: white;
  text-align: center;
  padding: 5px; }

tr {
  padding: 10px;
  text-align: center;
  background-color: #f7f7f7; }

td {
  padding: 20px;
  text-align: center; }

/*Grid Index*/
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 200px 200px 300px 200px 200px;
  grid-template-areas: "header header header"  "main main main" "main main main"   "main main main" "footer footer footer";
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  justify-items: stretch;
  align-items: stretch; }

/*Estilos Header*/
.headerVersionDos {
  position: relative;
  align-items: center;
  background-color: #f8f9fa;
  justify-content: center;
  padding: 15px; }

/*Estilos Footer*/
.footer {
  grid-area: footer;
  position: relative;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.footerImg:hover {
  position: relative;
  display: inline-block;
  transform: scale(1.5, 1.5);
  transition: 2s; }
  .footerImg:hover .footerImg_list {
    display: inline-block;
    justify-content: center;
    align-items: center; }
  .footerImg:hover .footerImg_img {
    margin-right: 30px; }

.footerText {
  position: relative;
  text-align: center; }
  .footerText .footerText__titulo {
    font-size: 30px;
    color: #585656; }
  .footerText .footerText__parrafo {
    font-size: 15px;
    color: #868484; }

.footerMenu {
  position: relative;
  background-color: #dddcdc; }
  .footerMenu .footerMenu__nav {
    display: flex; }
  .footerMenu .footerMenu__navList {
    list-style-type: none; }
  .footerMenu .footerMenu__navtext {
    display: inline-block;
    padding-right: 30px; }
  .footerMenu .footerMenu__navtext--activo {
    background-color: #ed3b89;
    color: white; }

footer section ul li {
  display: inline-block;
  padding-right: 30px; }

/*Estilos Main*/
.main {
  grid-area: main;
  position: relative; }

.mainVideo {
  height: 600px; }

.mainIntro {
  display: flex;
  position: relative;
  height: 500px;
  background-image: url(https://cdn.pixabay.com/photo/2020/01/08/03/54/market-4749215_960_720.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  padding-top: 100px;
  padding-left: 80px;
  padding-right: 80px;
  overflow: hidden; }

.mainIntro__titulo {
  color: #f01674;
  font-size: 60px;
  font-weight: bolder; }

.mainIntro__parrafo {
  color: white;
  font-weight: bolder;
  font-size: 20px;
  background-color: #f01674;
  opacity: .8; }

.mainTable {
  position: relative; }

.fuenteDescuentos {
  color: #f01674;
  font-size: 35px;
  margin-left: 10px;
  margin-top: 35px;
  margin-bottom: 20px; }

.fuenteSocios {
  color: #f01674;
  font-size: 35px;
  margin-left: 10px;
  margin-top: 35px;
  margin-bottom: 20px; }

.imagenesSocios {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center; }

.efectoImagenes:hover {
  transform: scale(1.25, 1.25);
  transition: 1.5s; }

/*Pruebas Bootstrap*/
.fuentePrecios {
  color: #ed3b89;
  text-decoration: bolder;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 25px; }

.navBar {
  flex-direction: row; }

.navMenu {
  justify-content: flex-end; }

.textoPromociones, .promocionesDos {
  color: #f01674;
  font-size: 20px;
  background-color: #d8d8d8;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }

.promocionesDos {
  background-color: #f01674;
  color: white; }

.mapaUno {
  color: #f01674;
  font-size: 15px;
  background-color: white;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }

.mapaDos {
  color: white;
  font-size: 20px;
  background-color: grey;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }
