  /*Estilos Footer*/
  
  .footer{
    grid-area: footer;
    position: relative;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(248, 249, 250);
  }
  
  .footerImg:hover{
    position: relative;
    display: inline-block;
    transform: scale(1.5,1.5);
    transition: 2s;

    .footerImg_list{
    display: inline-block;
    justify-content: center;
    align-items: center;
    }   
  }
  
    .footerText{
    position: relative;
    text-align: center;

    .footerText__titulo{
        font-size: 30px;
        color: rgb(88, 86, 86);
    }

    .footerText__parrafo{
        font-size: 15px;
        color: rgb(134, 132, 132);  
    }

  }
  
      .footerMenu{
    position: relative;

    .footerMenu__nav{
        display: flex;
    }

    .footerMenu__navList{
        list-style-type: none;
    }

    .footerMenu__navtext{
        display: inline-block;
    }

    .footerMenu__navtext--activo{

        color: rgb(240, 22, 116);
    }

  }
  
      footer section ul li{
    display: inline-block;
      }
  
  