*{
    margin: 0;
    padding: 0;
  }
  
.marginTop{
  margin-top: 20px;
}

   /*Fonts*/
  
   h1{
    color: rgb(237, 59, 137);
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bolder;
    font-size: large;
  }
  
  h2{
    color: rgb(237, 59, 137);
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    font-size: medium;
  }
  
  
  hr{
    color: rgb(237, 59, 137);
  }
  
  p{
    color: grey;
    font-style: normal;
    font-weight: normal;
    font-size: medium;
    font-family: 'Noto Sans JP', sans-serif;
  
    text-transform: none;
    line-height: normal;
    text-decoration: none;
    letter-spacing: normal;
  }
   
  
  ol{
    color: rgb(237, 59, 137);
    font-family: 'Noto Sans JP', sans-serif;
    list-style-type: none;
    text-decoration: none;
  }
  
  ul{
    color: rgb(237, 59, 137);
    font-family: 'Noto Sans JP', sans-serif;
    list-style-type: none;
    text-decoration:none;
  }
  
  a{
    text-decoration: none;
  }
  