  /*Grid Index*/
  .grid{
  
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 200px 200px 300px 200px 200px;
    grid-template-areas:"header header header" 
                        "main main main"
                        "main main main"  
                        "main main main"
                        "footer footer footer"; 
    
    grid-column-gap: 10px;
    grid-row-gap: 15px;
  
    justify-items: stretch;
    align-items: stretch;
  }