  /*Estilos Header*/
    
      .headerVersionDos{
        display: flex;
        position: relative;
        align-items: center;
        background-color: rgb(248, 249, 250);
      }
  
      .push-right {
        margin-left: auto;
      }
            