  /*Estilos Header*/
    
      .headerVersionDos{
        position: relative;
        align-items: center;
        background-color: rgb(248, 249, 250);
        justify-content: center;
        padding: 15px;
      }
  