  /*Estilos Main*/
  
  .main{
    grid-area: main;
    position: relative; 
  }
  

.mainVideo{
  height: 600px;
}

  .mainIntro{
  display: flex;
  position: relative;
  height: 500px;
  background-image: url(https://cdn.pixabay.com/photo/2020/01/08/03/54/market-4749215_960_720.jpg); 
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  padding-top: 100px;
  padding-left: 80px;
  padding-right: 80px;
  overflow: hidden;
  }

  
  .mainIntro__titulo{
    color: rgb(240, 22, 116);
    font-size: 60px;
    font-weight: bolder;
    }

  .mainIntro__parrafo{
        color:rgb(255, 255, 255);
        font-weight: bolder;
        font-size: 20px;
        background-color: rgb(240, 22, 116 );
        opacity: .8;
    
    }

  .mainTable{
    position: relative;
  }
  
    .fuenteDescuentos{
      color: rgb(240, 22, 116);
      font-size: 35px;
      margin-left: 10px;
      margin-top: 35px;
      margin-bottom: 20px;
    }
    
    .fuenteSocios{
      color: rgb(240, 22, 116);
      font-size: 35px;
      margin-left: 10px;
      margin-top: 35px;
      margin-bottom: 20px;
    }

    .imagenesSocios{
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      }
    
    .efectoImagenes:hover{
      transform: scale(1.25,1.25);
      transition: 1.5s;
    }
    