  /*Table*/
  
  
  table {
  
    font-family: 'Noto Sans JP', sans-serif;
  
   }
  
  
   .tableTitles{
  
    background-color:rgb(237, 59, 137);
    color: white;
    text-align: center;
    font-weight: bolder;
  }
  
  
  th {
    background-color:rgb(237, 59, 137);
    color: white;
    text-align: center;
   }
  
   tr {
  
    text-align: center;
    background-color: rgb(247, 247, 247);
   }
  
   td {

    text-align: center;
   }
  